@font-face {
    font-family: Urbanist;
    src: url(../../../assets/font/Urbanist-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Urbanist;
    font-weight: 600;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    line-height: 1;
}

table {
    border-collapse: collapse;
    border-spacing: none;
}