$purple: #9F1452;
$pink: #ED1872;
$orange: #feb555;
$gray: #959595;
$white: #ffffff;

$text-base: 16px;
$text-sm: 14px;

@keyframes bounce {
    0% { transform: translateY(-5px); }
    50% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}