* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: none;
}

.navbar {
  position: relative;
  width: 100vw;
  height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0 50px;
  z-index: 1;
  /* Desktop */
}
.navbar .navbar-desktop-links {
  display: none;
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 0 100px;
    height: 150px;
  }
  .navbar .navbar-mobile-cheese {
    display: none;
  }
  .navbar .navbar-desktop-links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }
  .navbar .navbar-desktop-links .desktop-link,
.navbar .navbar-desktop-links .desktop-btn-login {
    position: relative;
    margin-left: 40px;
    color: #959595;
    font-size: 16px;
  }
  .navbar .navbar-desktop-links .desktop-link {
    transition: color 0.3s, background 0.3s;
  }
  .navbar .navbar-desktop-links .desktop-link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: #ED1872;
    transition: width 0.3s;
  }
  .navbar .navbar-desktop-links .desktop-link:hover {
    color: #ED1872;
    background: linear-gradient(to right, #ED1872, #feb555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navbar .navbar-desktop-links .desktop-link:hover::after {
    width: 100%;
    background: linear-gradient(to right, #ED1872, #feb555);
  }
  .navbar .navbar-desktop-links .desktop-btn-login {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 12px 45px;
    background: transparent;
    border: none;
    border-radius: 10px;
    outline: 1.5px solid #ED1872;
    transition: background 0.2s, color 0.3s, transform 0.2s;
  }
  .navbar .navbar-desktop-links .desktop-btn-login:hover {
    background: linear-gradient(to right, #ED1872, #ED1872, #feb555);
    color: #ffffff;
    transform: translateY(-5px);
    outline: none;
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: url(../../../assets/img/mobile-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.content .left, .content .right {
  position: relative;
  width: 100%;
}
.content .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 162px;
  text-align: center;
  padding: 0 50px;
}
.content .left .title {
  font-size: 40px;
  margin: 30px 0;
  text-align: center;
  color: #9F1452;
}
.content .left .description {
  font-size: 14px;
  color: #959595;
  line-height: 1.5;
}
.content .left .buttons-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 100px;
}
.content .left .buttons-container button {
  position: relative;
  width: 70%;
  margin: 0 100px;
  border: none;
  border-radius: 10px;
  padding: 12px 40px;
  margin-bottom: 5px;
  font-size: 14px;
}
.content .left .buttons-container .start-btn {
  background: linear-gradient(to right, #ED1872, #ED1872, #ED1872, #feb555);
  color: #ffffff;
}
.content .left .buttons-container .watch-btn {
  background-color: #ffffff;
  color: #ED1872;
  outline: 1px solid #9F1452;
}
@media screen and (min-width: 1100px) {
  .content {
    background: url(../../../assets/img/desktop-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .content .left, .content .right {
    flex: 1;
    width: 100%;
  }
  .content .left {
    justify-content: center;
    align-items: flex-start;
    padding: 0 100px;
    margin: 0;
    text-align: left;
  }
  .content .left .title {
    font-size: 70px;
  }
  .content .left .description {
    font-size: 12px;
    line-height: 2;
  }
  .content .left .buttons-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    margin: 50px 0;
  }
  .content .left .buttons-container button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 20px 0 0;
    padding: 15px 45px;
    font-size: 16px;
    outline: none;
  }
  .content .left .buttons-container .start-btn {
    transition: all 0.3s;
  }
  .content .left .buttons-container .start-btn:hover {
    background: #ffffff;
    color: #ED1872;
    box-shadow: 0px 10px 10px #dfdfdf;
  }
  .content .left .buttons-container .watch-btn {
    transition: all 0.3s;
  }
  .content .left .buttons-container .watch-btn:hover {
    box-shadow: 0px 10px 10px #dfdfdf;
    outline: none;
  }
}/*# sourceMappingURL=main.css.map */