@font-face {
  font-family: Urbanist;
  src: url(../../../assets/font/Urbanist-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist;
  font-weight: 600;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: none;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  transition: height 0.5s;
}
.mobile-menu a {
  width: 80%;
  margin: 5px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ED1872;
  font-size: 16px;
  border-radius: 10px;
  outline: 2px solid #ED1872;
}
.mobile-menu a * {
  position: relative;
  background: linear-gradient(to bottom right, #ED1872, #ED1872, #feb555);
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding: 15px 20px;
  margin: 0 10px 0 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
}
@media screen and (min-width: 1100px) {
  .mobile-menu {
    display: none;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
.navbar {
  position: relative;
  width: 100vw;
  height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0 50px;
  z-index: 2;
  /* Desktop */
}
.navbar .navbar-desktop-links {
  display: none;
}
@media screen and (min-width: 1100px) {
  .navbar {
    background-color: transparent;
  }
  .navbar {
    padding: 0 100px;
    height: 150px;
  }
  .navbar .navbar-mobile-cheese {
    display: none;
  }
  .navbar .navbar-desktop-links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }
  .navbar .navbar-desktop-links .desktop-link,
.navbar .navbar-desktop-links .desktop-btn-login {
    position: relative;
    margin-left: 40px;
    color: #959595;
    font-size: 16px;
  }
  .navbar .navbar-desktop-links .desktop-link {
    transition: color 0.3s, background 0.3s;
  }
  .navbar .navbar-desktop-links .desktop-link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: #ED1872;
    transition: width 0.3s;
  }
  .navbar .navbar-desktop-links .desktop-link:hover {
    color: #ED1872;
    background: linear-gradient(to right, #ED1872, #feb555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navbar .navbar-desktop-links .desktop-link:hover::after {
    width: 100%;
    background: linear-gradient(to right, #ED1872, #feb555);
  }
  .navbar .navbar-desktop-links .desktop-btn-login {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 12px 45px;
    background: transparent;
    border: none;
    border-radius: 10px;
    outline: 1.5px solid #ED1872;
    transition: background 0.2s, color 0.3s, transform 0.2s;
  }
  .navbar .navbar-desktop-links .desktop-btn-login:hover {
    background: linear-gradient(to right, #ED1872, #ED1872, #feb555);
    color: #ffffff;
    transform: translateY(-5px);
    outline: none;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: url(../../assets/img/mobile-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow-y: auto;
  /* Left side */
  /* Right side */
}
.content .left, .content .right {
  position: relative;
  width: 100%;
}
.content .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 50px;
  height: 100vh;
}
.content .left .title {
  font-size: 35px;
  margin: 30px 0 30px 0px;
  text-align: center;
  color: #9F1452;
}
.content .left .description {
  font-size: 10px;
  color: #959595;
  line-height: 1.5;
}
.content .left .buttons-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 100px;
}
.content .left .buttons-container button {
  position: relative;
  width: 70%;
  margin: 0 100px;
  border: none;
  border-radius: 10px;
  padding: 12px 40px;
  margin-bottom: 15px;
  font-size: 14px;
}
.content .left .buttons-container .start-btn {
  background: linear-gradient(to right, #ED1872, #ED1872, #ED1872, #feb555);
  color: #ffffff;
}
.content .left .buttons-container .watch-btn {
  background-color: #ffffff;
  color: #ED1872;
  outline: 1px solid #9F1452;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .left .buttons-container .watch-btn .icon {
  margin: 0 8px 0 0;
}
.content .left .img-girl-left {
  display: none;
}
.content .right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 60px 0;
}
.content .right .title {
  display: block;
  position: absolute;
  z-index: 30;
  bottom: 60px;
  padding: 5px 0;
  font-size: 45px;
  background: linear-gradient(to right, #ED1872, #ED1872, #feb555);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .right .jump-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #ED1872;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}
.content .right .jump-btn * {
  margin: 0 5px;
}
.content .right .img-right-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .right .img-right-container .img-right {
  position: relative;
  transform: translateY(-20%);
  width: 400px;
  height: 450px;
  background: url(../../assets/img/man-portrait.jpg);
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}
.content .right .img-right-container .img-right .img-right-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -25px;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to right bottom, #ED1872, #ED1872, #feb555);
  font-size: 22px;
  color: #ffffff;
  outline: 5px solid #ffffff;
}
.content .right .img-right-container .img-right .card-left,
.content .right .img-right-container .img-right .card-right,
.content .right .img-right-container .img-right .chat-report,
.content .right .img-right-container .img-right .coming-your-way,
.content .right .img-right-container .img-right .chart {
  display: none;
}
.content .right .img-girl-right {
  display: none;
}
@media screen and (min-width: 1100px) {
  .content {
    background: url(../../assets/img/desktop-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Left side */
    /* Right side */
  }
  .content .left, .content .right {
    flex: 1;
    width: 100%;
  }
  .content .left {
    justify-content: center;
    align-items: flex-start;
    padding: 0 100px;
    margin: 0;
    text-align: left;
  }
  .content .left .img-girl-left {
    display: block;
    position: absolute;
    top: 150px;
    left: 150px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url(../../assets/img/john.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: 4px solid #ffffff;
    box-shadow: 0px 20px 20px #cacaca;
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .content .left .title {
    font-size: 70px;
    text-align: left;
  }
  .content .left .description {
    font-size: 12px;
    line-height: 2;
  }
  .content .left .buttons-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 50px 0;
  }
  .content .left .buttons-container button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 20px 0 0;
    padding: 15px 45px;
    font-size: 16px;
    outline: none;
  }
  .content .left .buttons-container .start-btn {
    transition: all 0.3s;
  }
  .content .left .buttons-container .start-btn:hover {
    background: #ffffff;
    color: #ED1872;
    box-shadow: 0px 10px 10px #dfdfdf;
  }
  .content .left .buttons-container .watch-btn {
    transition: all 0.3s;
  }
  .content .left .buttons-container .watch-btn:hover {
    box-shadow: 0px 10px 10px #dfdfdf;
    outline: none;
  }
  .content .right {
    padding: 0;
  }
  .content .right .title,
.content .right .jump-btn {
    display: none;
  }
  .content .right .img-right-container .img-right {
    border-radius: 20px;
    transform: translateX(-20%) translateY(0);
  }
  .content .right .img-right-container .img-right .card-left {
    display: block;
    position: absolute;
    bottom: -25px;
    left: -115px;
    width: 150px;
    height: 200px;
    background-color: #ffffff;
    box-shadow: -20px 10px 30px #dfdfdf;
    border-radius: 10px;
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  .content .right .img-right-container .img-right .card-left .card-left-img {
    position: relative;
    margin: 15px auto 10px auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    outline: 3px solid #dfdfdf;
    background: url(../../assets/img/girl-1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content .right .img-right-container .img-right .card-left .card-left-name {
    text-align: center;
    color: #ED1872;
    font-size: 16px;
    margin-bottom: 3px;
  }
  .content .right .img-right-container .img-right .card-left .card-left-post {
    text-align: center;
    color: #959595;
    font-size: 14px;
  }
  .content .right .img-right-container .img-right .card-left .card-left-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f4f4f4;
  }
  .content .right .img-right-container .img-right .card-left .card-left-buttons * {
    margin: 20px;
  }
  .content .right .img-right-container .img-right .card-left .card-left-buttons .phone {
    color: #feb555;
  }
  .content .right .img-right-container .img-right .card-left .card-left-buttons .chat {
    color: #ED1872;
  }
  .content .right .img-right-container .img-right .card-right {
    display: block;
    position: absolute;
    top: -25px;
    right: -115px;
    width: 150px;
    height: 200px;
    background-color: #ffffff;
    box-shadow: 30px 10px 30px #dfdfdf;
    border-radius: 10px;
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  .content .right .img-right-container .img-right .card-right .card-right-img {
    position: relative;
    margin: 15px auto 10px auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    outline: 3px solid #dfdfdf;
    background: url(../../assets/img/girl-2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content .right .img-right-container .img-right .card-right .card-right-name {
    text-align: center;
    color: #ED1872;
    font-size: 16px;
    margin-bottom: 3px;
  }
  .content .right .img-right-container .img-right .card-right .card-right-post {
    text-align: center;
    color: #959595;
    font-size: 14px;
  }
  .content .right .img-right-container .img-right .card-right .card-right-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f4f4f4;
  }
  .content .right .img-right-container .img-right .card-right .card-right-buttons .progress-container {
    position: relative;
    width: 60%;
    height: 10px;
    border-radius: 10px;
    background-color: #e2e2e2;
  }
  .content .right .img-right-container .img-right .card-right .card-right-buttons .progress-container .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 10px;
    border-radius: 10px;
    background-color: #ED1872;
  }
  .content .right .img-right-container .img-right .card-right .card-right-buttons .transfer-files {
    margin-top: 8px;
    font-size: 12px;
    color: #959595;
  }
  .content .right .img-right-container .img-right .chat-report {
    opacity: 1;
    display: block;
    position: absolute;
    top: 60%;
    right: 0;
    background-color: #ffffff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px 45px 20px 25px;
    transform: translateX(40%);
    box-shadow: 10px 0px 20px rgb(214, 214, 214);
    border-radius: 10px 10px 10px 0px;
  }
  .content .right .img-right-container .img-right .chat-report p {
    color: #959595;
    font-size: 14px;
  }
  .content .right .img-right-container .img-right .coming-your-way {
    position: absolute;
    top: 80%;
    right: -20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 50px;
    background-color: #ED1872;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 20px 20px;
    border-radius: 10px 10px 0px 10px;
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation-duration: 1.6s;
            animation-duration: 1.6s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  .content .right .img-right-container .img-right .coming-your-way p {
    color: #ffffff;
    font-size: 14px;
  }
  .content .right .img-right-container .img-right .coming-your-way .coming-img {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../../assets/img/girl-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: 4px solid #ffffff;
  }
  .content .right .img-right-container .img-right .chart {
    display: block;
    position: absolute;
    bottom: -70px;
    right: -80px;
    width: 180px;
    height: 100px;
    background-color: #ED1872;
    border-radius: 10px 10px 0px 10px;
    box-shadow: 20px 0px 30px rgb(165, 165, 165);
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  .content .right .img-right-container .img-right .chart svg {
    width: 100%;
    height: 100%;
  }
  .content .right .img-girl-right {
    display: block;
    position: absolute;
    top: -30px;
    left: -50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url(../../assets/img/girl-4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: 4px solid #ffffff;
    box-shadow: 0px 20px 20px #cacaca;
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}/*# sourceMappingURL=main.css.map */